@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  width: 100vw;
}

.container {
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
}

.page_one {
  width: 100%;
  height: 230vh;
  position: relative;
  /* display: flex; */
  /* justify-content: center; */
}

.background-image {
  background-image: url(/images/cover.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(60%);
  width: 100%;
  height: 800px;
}

.page_one_top {
  width: 100%;
  position: relative;
  background-color: rgb(236, 235, 235);
  height: 200px;
}

.navbar {
  position: absolute;
  top: -760px;
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: white;
}

.navbar_right {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_right h1 {
  font-weight: bolder;
}

.links {
  text-decoration: none;
  margin-left: 100px;
}

.links a {
  padding: 5px;
  font-weight: 400;
  
}

.navbar_left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_left button {
  background-color: rgb(0, 183, 255);
  padding: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
  margin-left: 40px;
}

.words_center {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: -570px;
  left: 50px;
  color: white;
  max-width: 90vw;
  height: 400px;
}

.words_center_one {
  font-size: x-large;
  letter-spacing: 1px;
  width: 600px;
  text-align: center;
}

.words_center_two {
  font-size: 17px;
  font-weight: 400;
  width: 550px;
  text-align: center;
  padding: 20px;
  margin: 40px 0;
}

.words_center_three {
  width: 585px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.words_center_three button {
  padding: 12px 16px;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  margin: 10px;
  letter-spacing: 1px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: 180px;
  gap: 50px;
  justify-content: center;
  position: relative;
}

.card {
  padding: 30px;
  padding-top: 25px;
  position: relative;
  top: -490px;
}

.card ion-icon {
  font-size: 50px;
}

.page_one_bottom {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: 300px;
  gap: 60px;
  height: 350px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.tag ion-icon {
  font-size: 70px;
}

.tag {
  margin: 30px;
  text-align: center;
}

.tag_top {
  line-height: 40px;
}

.page_two {
  height: 1000px;
  background-color: rgb(236, 235, 235);
  display: flex;
  flex-direction: column;
  padding-top: 30px;
}

.industry_top {
  text-align: center;
}

.industry_top h1 {
  padding-bottom: 15px;
}

.slides {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 350px;
  gap: 50px;
  justify-content: center;
  padding-top: 50px;
}

.slide {
  background-color: white;
  padding-top: 50px;
  display: grid;
  text-align: center;
  padding: 20px;
}

.slide img {
  border-radius: 50%;
  width: 130px;
  margin-left: auto;
  margin-right: auto;
}

.stars img {
  width: 20px;
  padding: 0;
}

.icons {
  margin-top: 200px;
  display: flex;
  justify-content: space-around;
  padding: 0 170px;
}

.icons img {
  width: 80px;
  height: 60px;
}

.newsletter {
  background-image: linear-gradient(90deg, rgba(30,24,140,1) 30%, rgba(203,16,174,1) 59%);
  margin: 70px 180px 0 180px;
  height: 100px;
  width: 900px;
  display: flex;
  flex-direction: row;
}

.newsletter_right {
  width: 40%;
  padding: 20px 0px 20px 40px;
}

.newsletter_right h2 {
  color: white;
  font-weight: 500;
}

.newsletter_left {
  width: 50%;
}

.input {
  width: 58%;
  height: 20px;
  padding: 12px 20px;
  border-radius: 5px;
  border: none;
}

form {
  margin-top: 29px;
  position: relative;
}

form button {
  width: 140px;
  height: 45px;
  border: 1px solid white;
  border-radius: 5px;
  position: relative;
  margin-left: -10px;
}

.page_three {
  background-color: rgb(236, 235, 235);
  height: 840px;
}

.pricing {
  margin-top: 30px;
}

.pricing_top {
  text-align: center;
}

.pricing_top h1 {
  padding-bottom: 10px;
}

.pricing_bottom {
  display: grid;
  grid-template-columns: repeat(3, 320px);
  grid-template-rows: 580px;
  justify-content: center;
  margin-top: 100px;
  position: relative;
}

.column {
  border: 1px solid rgb(0, 183, 200);
  border-radius: 10px;
  background-color: white;
  padding: 20px;
}

.column h2 {
  text-align: center;
  line-height: 45px;
}

.column p {
  text-align: center;
  margin-bottom: 20px;
}

.text {
  font-weight: 500;
  padding: 0 45px;
}

.column button {
  background-color: rgb(0, 183, 255);
  padding: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
  width: 230px;
  margin-left: 20px;
}

.black {
  position: relative;
  top: -50px;
  height: 590px;
  background-color: rgb(6, 6, 49);
  color: white;
}

.figures {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
  line-height: 25px;
  color: rgb(0, 183, 255);
}

.figures_right {
  font-size: 30px;
  font-weight: 600;
}

.figures_left {
  text-align: left;
  font-weight: 400;
}

.tics {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.tic {
  display: flex;
  flex-direction: row;
  /* align-items: center;  */
  gap: 5px;
  padding: 10px 0;
  font-weight: 400;
}

.tic ion-icon {
  background-color: rgb(37, 218, 49);
  border-radius: 50%;
  font-size: 25px;
  color: white;
}

.tic p {
  text-align: left;
}

.page_four {
  height: 1400px;
  position: relative;
  background-color: rgb(236, 235, 235);
}

.branches_top {
  background-color: rgb(6, 6, 49);
  color: white;
  height: 600px;
  padding: 100px 60px 60px 60px;
  display: grid;
  grid-template-columns: repeat(2, 500px);
  justify-content: space-around;
  gap: 30px;
}

.branches_top_right img {
  width: 400px;
}

.branches_top_left h1 {
  line-height: 50px;
  letter-spacing: 1px;
  font-weight: 600;
  width: 80%;
}

.branches_top_left p {
  padding-top: 15px;
}

.branches_middle {
  width: 70%;
  height: 608px;
  display: flex;
  position: relative;
  top: -290px;
  left: 160px;
}

.branches_middle_right {
  width: 70%;
  background-color: white;
}

.branches_middle_right h1 {
  padding: 30px 0 0 40px;
  text-align: center;
}

.branches_middle_left {
  width: 30%;
}

.branches_middle_left img {
  width: 100%;
  height: 608px;
}

form {
  padding: 0 0 0 40px;
}

form input {
  border: 1px solid black;
  width: 82%;
  height: 47px;
  border-radius: 5px;
  padding-left: 15px;
}

form label {
  line-height: 40px;
}

form select {
  border: 1px solid black;
  width: 85%;
  height: 47px;
  border-radius: 4px;
  color: gray;
  padding-left: 12px;
}

.book {
  background-color: rgb(0, 183, 255);
  padding: 15px;
  margin-top: 50px;
  margin-left: 5px;
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
  width: 85%;
}
.branches_bottom {
  position: relative;
  top: -100px;
  display: grid;
  grid-template-columns: 800px 200px;
  justify-content: center;
  gap: 60px;
  align-items: center;
}
.branches_bottom_left {
  line-height: 40px;
}
.last_button {
  background-color: rgb(0, 183, 255);
  padding: 15px;
  color: white;
  border-radius: 5px;
  border: none;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
  width: 200px;
}
footer {
  height: 310px;
}
.footer_top {
  display: grid;
  grid-template-columns:200px 200px 200px 200px 240px;
  justify-content: center;
  gap: 10px;
  padding:30px 0 ;
}
.section{
    line-height: 35px;
}
.section p{
    font-weight: 400;
}
.section_cell{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}
.section_cell ion-icon{
    color: rgb(0, 183, 255);
    font-size: 30px;
}
.footer_bottom{
    background-color:rgb(236, 235, 235) ;
    height: 80px;
    display: grid;
    grid-template-columns: 600px 140px;
    align-items: center;
    gap: 350px;
    justify-content: center;
}
.footer_bottom_left p{
font-weight: 400;
}
.footer_bottom_right{
    display: flex;
    gap: 15px;
}
.footer_bottom_right ion-icon{
    color: rgb(0, 183, 255);
    font-size: 30px;
    
}